<div id="<%= dom_id trade %>">
  <p>
    <strong>Title:</strong>
    <%= trade.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= trade.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= trade.user_id %>
  </p>

</div>
