<% if notice %>
<div class=" bg-info bg-gradient">
<p class = "notice"><%= notice %></p>
</div>
<% end %>
<% if alert %>
<div class="bg-danger bg-gradient">
<p class = "alert"><%= alert %></p>
</div>
<% end %>